{% extends 'base.html.twig' %}

{% block title %}New Emails{% endblock %}

{% block body %}
    <h1>Create new Emails</h1>

    {{ include('emails/_form.html.twig') }}

    <a href="{{ path('emails_index') }}">back to list</a>
{% endblock %}
