{% extends 'layout.html.twig' %}

{% block title %}Benutzer bearbeiten{% endblock %}

{% block body %}
<div class="container-fluid mb-4 mt-4">
    <div class="how2 how2-cl4 flex-s-c mt-3">
        <h3 class="f1-m-2 cl3 tab01-title">
            <a href="{{ path('user_index') }}" class="text-dark"><i class="fa fa-step-backward"></i>zurück</a>
        </h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 m-2">
            {% set flashes = app.flashes %}
            {% if flashes %}<div class="alert alert-danger">{{ flashes.custom_error[0] }}</div>{% endif %}
            {{ include('user/_form.html.twig', {'button_label': 'Bearbeiten'}) }}

            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
